.cursor {
  cursor: pointer;
}
body {
  color: black;
  font-size: 16px;
  height: unset;
}
.friend-item {
  padding: 16px;
  cursor: pointer;
  user-select: none;
  &.current {
    background-color: #eeeeee;
  }
  &:hover {
    background-color: #eeeeee;
  }
  p {
    margin: 0;
  }
  .title {
    margin-top: 6px;
    opacity: 0.3;
  }
}

.bubble {
  padding: 10px 0;
  & > p {
    padding: 8px 16px;
    margin: 0 16px;
    background-color: #e8eaf0;
    border-radius: 16px;
    &.isMe {
      background-color: #61aee9;
      color: white;
    }
  }
}

.main {
  width: 782px;
  padding: 16px;
  height: 570px;
  overflow: auto;
  .title {
    font-weight: 500;
    font-size: 18px;
  }
  .loading-tip {
    opacity: 0.5;
  }
}

.search {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & input {
    width: 240px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 8px 16px;
  }
  & i {
    opacity: 0.4;
  }
}

.inputbox {
  padding: 16px;
  & div {
    align-items: center;
    .anticon {
      font-size: 20px;
      opacity: 0.4;
      margin-right: 20px;
      cursor: pointer;
    }
  }
  & textarea {
    margin-top: 20px;
    width: 750px;
    height: 200px;
    border: none;
    resize: none;
  }
}

#root {
  width: 1122px;
  border: 0.5px solid #efefef;
  margin: 20px;
  box-shadow: 0 0.255rem 1rem rgba(0, 0, 0, 0.1)
}
