.list-item {
  transition: color 0.4s;
}

.list-item.completed {
  color: #d9d9d9;
  text-decoration: line-through;
}

.list-item-container:hover .delete-icon {
  opacity: 0.6;
}

.list-item-container .delete-icon {
  border: none;
  font-size: 35px;
  color: #F75C2F;
  transition: 300ms;
  opacity: 0;
}

.list-item-container .delete-icon:hover {
  opacity: 1;
  cursor: pointer;
}
